---
layout: archive
title: "Service"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<div id="content" style="font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f5f5f5; border: 1px solid #ddd; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h2 style="color: #333; font-size: 24px;"><strong>Teaching</strong></h2>
  <h3>Teaching Assistant, Department of Electrical and Computer Engineering, Illinois Institute of Technology, Chicago</h3>
  <ul>
      <li>ECE 213: Circuit Analysis II, Fall 2024</li> 
      <li>ECE 541: Communications Networks Performance Analysis, Fall 2024, Fall 2023</li>
      <li>ECE 437: Digital Signal Processing I, Fall 2023</li>
      <li>ECE 218: Digital Systems, Fall 2023</li>
  </ul>

  <h3>Teaching Assistant, Department of Electrical and Information Engineering, Covenant University, Nigeria</h3>
  <ul>
      <li>GEC 225: Applied Computer Programming II, Spring 2020</li> 
      <li>EIE 520: Artificial Neural Network, Spring 2020</li>
  </ul>

  <h2 style="color: #333; font-size: 24px;"><strong>Reviewer</strong></h2>
  <h3>Journals:</h3>
    <ul>
        <li>IEEE Internet of Things Journal</li>
        <li>IEEE Transactions on Vehicular Technology</li>
        <li>IEEE Wireless Communications Magazine</li>      
    </ul>

    <h3>Conferences:</h3>
    <ul>
        <li>IEEE Global Communications Conference: IoT and Sensor Networks, 2022</li>
        <li>IEEE INFOCOM WKSHPS: PerAI-6G, 2022</li>
        <li>IEEE ICC - CRAIN Symposium</li>
    </ul>
</div>
